{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main role="main" id="content">
        <div class="fr-container fr-mt-8v fr-mt-md-14v fr-mb-2v fr-mb-md-8v">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                    <h1 class="fr-h2">Création de compte pour Inscription BTS</h1>
                </div>
            </div>
        </div>
        <article id="RegistrationFirst">
        <div class="fr-container fr-container--fluid fr-mb-md-14v">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                    <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-pt-10v fr-pt-md-14v fr-pb-6v fr-pb-md-10v">
                        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                            <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
                                <hr>
                                {{ form_start(registrationForm) }}
                                <div>
                                    <fieldset class="fr-fieldset" id="login-9355-fieldset" aria-labelledby="login-9355-fieldset-legend login-9355-fieldset-messages">
                                        <legend class="fr-fieldset__legend" id="login-9355-fieldset-legend">
                                            <h3 class="fr-h5">Se créer un compte en choisissant un identifiant</h3>
                                        </legend>
                                        <div class="fr-fieldset__element">
                                            <p class="fr-hint-text">Sauf mention contraire, tous les champs sont obligatoires.</p>
                                        </div>
                                        <div class="fr-fieldset__element">
                                            <div class="fr-input-group" id="input-group-9360">
                                                {{ form_row(registrationForm.email, {
                                                    id: 'username-9351',
                                                    label_attr: {'class': 'fr-label'},
                                                    attr: {'class': 'fr-input', 'autocapitalize': 'off', 'autocorrect': 'off'}
                                                }) }}
                                                <span class="fr-hint-text">Format attendu : nom@domaine.fr</span>
                                                <div class="fr-messages-group" id="username-9351-messages" aria-live="polite">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fr-fieldset__element">
                                            <div class="fr-password" id="password-9352">
                                                <div class="fr-input-wrap">
                                                    {{ form_row(registrationForm.plainPassword, {
                                                        id: 'password-9352-input',
                                                        label_attr: {'class': 'fr-label'},
                                                        attr: {'class': 'fr-password__input fr-input', 'autocomplete': 'new-password'}
                                                    }) }}
                                                </div>
                                                <div class="fr-messages-group" id="password-9352-input-messages" aria-live="polite">
                                                    <p class="fr-message" id="password-9352-input-message">Votre mot de passe doit contenir :</p>
                                                    <p class="fr-message fr-message--info" id="password-9352-input-message-info">12 caractères minimum</p>
                                                    <p class="fr-message fr-message--info" id="password-9352-input-message-info-1">1 caractère spécial minimum</p>
                                                    <p class="fr-message fr-message--info" id="password-9352-input-message-info-2">1 chiffre minimum</p>
                                                </div>
                                                <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                                                    <input aria-label="Afficher le mot de passe" id="password-9352-show" type="checkbox">
                                                    <label class="fr-password__checkbox fr-label" for="password-9352-show">
                                                        Afficher
                                                    </label>
                                                </div>
                                            </div>
                                        </div>  
                                    </fieldset>
                                </div>
                                <div>
                                    <fieldset class="fr-mb-0 fr-fieldset" id="identity-fieldset" aria-labelledby="identity-fieldset-legend identity-fieldset-messages">
                                        <legend class="fr-fieldset__legend" id="identity-fieldset-legend">
                                            <h3 class="fr-h5">Identité personnelle</h3>
                                        </legend>
                                        <div class="fr-fieldset__element">
                                            <p class="fr-hint-text">Sauf mention contraire, tous les champs sont obligatoires.</p>
                                        </div>
                                        <div class="fr-fieldset__element">
                                            <div class="fr-input-group">
                                                {{ form_row(registrationForm.sexe, {
                                                    label_attr: {'class': 'fr-label'},
                                                    attr: {'class': 'fr-input', 'autocapitalize': 'off', 'autocorrect': 'off', 'required': 'required'},
                                                }) }}
                                                <div class="fr-messages-group" aria-live="polite"></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Champ Nom -->
                                        <div class="fr-fieldset__element">
                                            <div class="fr-input-group">
                                                {{ form_row(registrationForm.nom, {
                                                    label_attr: {'class': 'fr-label'},
                                                    attr: {'class': 'fr-input', 'autocapitalize': 'off', 'autocorrect': 'off', 'required': 'required'},
                                                }) }}
                                                <div class="fr-messages-group" aria-live="polite"></div>
                                            </div>
                                        </div>
                                        <!-- Champ Prénom -->
                                        <div class="fr-fieldset__element">
                                            <div class="fr-input-group">
                                                {{ form_row(registrationForm.prenom, {
                                                    label_attr: {'class': 'fr-label'},
                                                    attr: {'class': 'fr-input', 'autocapitalize': 'off', 'autocorrect': 'off', 'required': 'required'},
                                                }) }}
                                                <div class="fr-messages-group" aria-live="polite"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <hr>
                                {{ form_row(registrationForm.agreeTerms) }}
                                <!-- Boutons de soumission -->
                                <div class="fr-fieldset__element">
                                    <ul class="fr-mt-2v fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-sm">
                                        <li>
                                            <button class="fr-btn" id="button-9361" type="submit">Valider</button>
                                        </li>
                                    </ul>
                                </div>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </article>
    
        <article id="RegistrationSecond">
        <div class="fr-container fr-container--fluid fr-mb-md-14v">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                    <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                            <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
                                <div>
                                    <div class="fr-mb-6v fr-alert fr-alert--success fr-alert--sm">
                                        <p>Votre compte a bien été activé. Vous pouvez dès maintenant commencer à l'utiliser.</p>
                                    </div>
                                    <span class="fr-hint-text">Détail — Si vous n'avez pas reçu de courriel (n'hésitez pas à vérifier dans les indérisables), vous pouvez re saisir votre adresse électronique.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </article>
    </main>
{% endblock %}